/*--------------- 
    RESET 
----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul *{
    list-style: none;
}
img{
    max-width: 100%;
}

/*--------------- 
    DEBUG
----------------*/
.debug{
    border: 1px dashed black;
}
.indebug{
    border: 1px dashed red;
}

/*--------------- 
    GENERAL
----------------*/
header{
    min-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.destra{
    justify-content: end;
}
.titolo{
    width: 100%;
    margin: 20px 0px;
}
.centratura-card{
    padding: 20px 30px;
}
.centratura-card *{
    padding: 6px 0px;
}
.icons{
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 10px 0px;
}

/*--------------- 
    BUTTON
----------------*/
.btn-col{
    background-color: #0061ff;
    cursor: pointer;
    border: none;
    padding: 6px 10px;
    color: #fff;
}
.btn-normal{
    background-color: #fff;
    cursor: pointer;
    border: none;
    padding: 6px 10px;
}

/*--------------- 
    TYPOGRAPHY
----------------*/
h1{
    font-size: 50px;
    font-weight: 800;
    padding: 50px 0px;
}
h2{
    font-size: 30px;
    padding: 20px 0px;
}
h3{
    font-size: 25px;
}
.col-items i{
    font-size: 40px;
}
.col-items .btn-col{
    font-size: 18px;
}

/*--------------- 
    RIGHE E 
    COLONNE
----------------*/
.row.header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    min-height: 8vh;
    margin: 0 auto;
}
.row-large{
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
}
.row-small{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}
.col-50{
    width: 50%;
}
.col-70{
    width: 70%;
}
.col-30{
    width: 30%;
}
.card-33{
    width: calc(100% / 3);
}

/*--------------- 
    HEADER
----------------*/
.col-50.flex{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    padding: 0px 25px;
    line-height: 100%;
}
.menu li{
    padding: 0px 15px;
}
.logo{
    max-width: 127px;
    max-height: 25px;
}

/*--------------- 
    MAIN
----------------*/
.hero{
    min-height: 590px;
    background-color: #b4d0e7;
    margin-bottom: 40px;
}
.titolo.big{
    max-width: 1150px;
    margin: 0 auto;
}
.col-items{
    display: flex;
    flex-direction: column;
}
.col-items span{
    padding: 40px 0px;
}
.col-items p{
    padding-bottom: 40px;
}
.col-items .btn-col{
    width: 70%;
}
.col-70.scalino{
    margin-bottom: -60px;
}
.container {
    border: 1px solid #d0d0d3;
    margin: 30px 0px;
}
.icon > ul > li {
    display: flex;
    align-items: flex-start; 
}
.icon > ul i {
    margin-right: 5px;
}
.provagiorni{
    width: 100%;
    padding: 13px 0px;
    font-size: 18px;
    margin-bottom: 20px;
}
hr{
    padding: 0px;
}