/*--------------- 
    RESET 
----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul *{
    list-style: none;
}
img{
    height: 100%;
}

/*--------------- 
    DEBUG
----------------*/
.debug{
    border: 1px dashed black;
}
.indebug{
    border: 1px dashed red;
}

/*--------------- 
    GENERAL
----------------*/
header{
    min-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.destra{
    justify-content: end;
}

/*--------------- 
    BUTTON
----------------*/
.btn-col{
    background-color: #0061ff;
    cursor: pointer;
    border: none;
    padding: 6px 10px;
    color: #fff;
}
.btn-normal{
    background-color: #fff;
    cursor: pointer;
    border: none;
    padding: 6px 10px;
}

/*--------------- 
    RIGHE E 
    COLONNE
----------------*/
.row.header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    min-height: 8vh;
    margin: 0 auto;
}
.row-large{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.col-50{
    width: 50%;
}

/*--------------- 
    TYPOGRAPHY
----------------*/
h1{
    font-size: 40px;
    padding-top: 50px;
}

/*--------------- 
    HEADER
----------------*/
.col-50.flex{
    display: flex;
}
.menu{
    display: flex;
    padding: 0px 25px;
}
.menu li{
    padding: 0px 15px;
}

/*--------------- 
    MAIN
----------------*/
.hero{
    min-height: 800px;
    background-color: #b4d0e7;
}
.titolo.big{
    max-width: 1200px;
    margin: 0 auto;
}
.col-items{
    display: flex;
    flex-direction: column;
}